[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
BuildPC/
BuildUWP/
Builds/
Build/
export/
Importing/
Assets/Oculus/Avatar2_SampleAssets/
Assets/EasyVolumeRendering/Assets/3rdparty/SimpleITK/SimpleITKCSharpNative.dll
/*.csproj
/*.sln
Assets/Scenes/AR Neuronavigation.unity
Assets/Scenes/Model Marking.unity